<div class="container">
    <div class="btn-group btn-group-justified">
        <a routerLink="./global_settings" class="btn btn-danger" [ngClass]="{active:activeBtn=='globalsettings'?true:false}">Global Settings</a>
        <a routerLink="./vehicle" class="btn btn-danger" [ngClass]="{active:activeBtn=='vehicle'?true:false}">Vehicle</a>
        <a routerLink="./engine" class="btn btn-danger" [ngClass]="{active:activeBtn=='engine'?true:false}">Engine</a>
        <a routerLink="./transmission" class="btn btn-danger" [ngClass]="{active:activeBtn=='transmission'?true:false}">Transmission</a>
    </div>
    <div style="margin-left:20px">
        <router-outlet (activate)="changeOfRoutes()">
        </router-outlet>
        <button (click)="goBack()">goBack</button>
    </div>
</div>